.garage {
  &-control {
    margin: 0 0 15px 0;
    .create,
    .update,
    .operation {
      margin: 7px 0 0 0;
    }
    .input-text {
      padding: 3px 10px;
      margin: 0 7px 0 0;
      max-width: 200px;
      width: 100%;
      height: 20px;
      resize: none;
      font-family: $font;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      outline: none;
      border: 1px solid #9ca498;
      color: $color-dark;
      border-radius: 8px;
    }
    .input-color {
      padding: 1px 3px;
      margin: 0 7px 0 0;
      -webkit-appearance: none;
      border: none;
      background: $color-back-color;
    }
  }
  position: relative;
  .main-garage-title {
    font-size: 27px;
    color: $color-light;
    margin: 0 0 7px 0;
  }
  .main-page-title {
    font-size: 20px;
    color: $color-light;
    opacity: 0.9;
    margin: 0 0 5px 0;
  }
  .cars {
    margin: 10px 0 0 0;
    .car {
      background-image: url("./assets/images/way.png");
      background-repeat: no-repeat;
      background-size: 100% 35px;
      background-position: bottom;
      position: relative;
      border: 3px solid $color-light;
      margin: 7px 0;
      padding: 5px 5px;
      border-radius: 10px;
      &-name {
        font-size: 19px;
      }
      &-image {
        width: 50px;
        height: 50px;
      }
      .flag-finish {
        position: absolute;
        bottom: 5px;
        right: 38px;
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

.winner-race {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 100%;
  border: 1px solid $color-gray;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: $color-white;
  font-size: 22px;
  background: linear-gradient(143deg, #123, #891);
  z-index: 4;
}
