$color-btns: #fffff2;
$color-text: #1c2a92;
$color-border-modal: #abc;
$color-hover: #844acf;
$color-active: #886aa1;
$color-disabled: #888;
$color-input: #b6886d80;
$color-background-body: #343435;
$color-enable-text: #222329;
$color-btn-shadow: #79747433;
$color-btn-shadow-hover: #6867a073;
$color-border-btns: #0093df;
$font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

@mixin button() {
  outline: none;
  box-shadow: none;
  cursor: pointer;
  border: 3px solid $color-border-btns;
  &:hover {
    transition: all 0.1s ease-in-out;
    background-color: $color-hover;
    box-shadow: 0 0 10px 5px $color-btn-shadow-hover;
    letter-spacing: 1.01px;
  }
  &:active {
    background-color: $color-active;
  }
}